main {
    width: 716px;
    background-color: lightgray;
    border-radius: 8px;
    padding: 23px;
    margin: auto;
}

/* div {
    margin: 1%;
} */

fieldset {
    width: 65%;
    border-radius: 6px;
    border-style: solid;
    margin: auto;
}

fieldset, input {
    background-color: lightcyan;
}

input {
    width: 90%;
    border-width: 0px;
}

.btn {
    font-weight: bold;
    font-size: 18px;
    /* padding: 1%; */
    margin: 4px;
    width: 18%;
    height: 45px;
}

.sign {
    background-color: #29d6ce;
}

.digit {
    background-color: #bbd1ee;
}

.btn.equal {
    height: 90px;
    float: right;
    background-color: #6bb86b;
}