@font-face {
    font-family: 'Press Start 2P';
    src: url(../libs/PressStart2P-Regular.ttf);
}

main {
    width: 600px;
    background-color: rgb(198, 198, 198);
    border-radius: 10px;
    padding: 25px 0;
    margin: auto;
}

.display {
    width: 472px;
    border-radius: 6px;
    border-style: solid;
    margin: 0 auto 18px auto;
}

.display, input {
    background-color: lightcyan;
}

input {
    font-family: 'Press Start 2P', monospace;
    font-size: large;
    width: 100%;
    border-width: 0;
    text-shadow: 2px 2px rgba(158, 158, 158, 0.35);
}

.keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 60px;
    gap: 10px;
    max-width: 500px;
    margin: auto;
}

.btn {
    font-weight: bold;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: inset -2px -2px 3px 0px #8888888e;
    border: 1px solid rgb(100, 100, 100)
}
.btn:hover {
    background-image: linear-gradient(#64646426, #1e1e1e33);
}

.digit {
    background-color: #bbd1ee;
}

.sign, .percent, .sqrt {
    background-color: #29d6ce;
}

.del, .clear {
    background-color: #dcaaaa;
}
.plus {
    grid-column: 4;
    grid-row: 4/6;
}

.equal {
    grid-column: 5;
    grid-row: 4/6;
    background-color: #6bb86b;
}
